body {
  background-color: whitesmoke;
}

div > h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

div > h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  text-decoration: underline;
}

.wrapper {
  max-width: 800px;
  margin: 60px auto;
  font-family: "Kanit", sans-serif;
  color: #070f4e;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-color: grey;
  border-radius: 20px;
  padding: 25px;
  transition: all 150ms ease-in-out;
}

.wrapper:hover {
  border: thin;
  border-color: whitesmoke;
}

.form-control::placeholder {
  color: blue;
  font-size: 15px;
}

.search-button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border-width: 0.02px;
  border-color: #070f4e;
  border-radius: 5px;
  padding: 6px 12px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  background-color: #3ab1c8;
  color: white;
  border: none;
}

.location-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: transparent;
  border-width: 0.02px;
  border-color: #070f4e;
  padding: 10px 12px;
  transition: all 150ms ease-in-out;
}

.location-button:hover {
  background-color: #3ab1c8;
  color: white;
  border: none;
}

.city-name {
  font-weight: 600;
  padding: 40px 0px 0px 20px;
  font-size: 40px;
  text-decoration: none;
}

.live-time-date {
  font-weight: 400;
  margin-bottom: 40px;
}

.temperature-now {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.weather-text {
  text-align: center;
  padding: 20px;
}

div .small-text {
  display: block;
  padding: 25px 10px 25px 10px;
}

.weather-forecast {
  margin: 40px 0px 40px -16px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-day {
  opacity: 0.6;
  margin-bottom: 15px;
}

.forecast-img {
  width: 62px;
  margin-bottom: 15px;
}

.weather-forecast-temp-min {
  opacity: 0.4;
}

.weather-info {
  padding: 20px;
  list-style-type: none;
}
